fieldset.form-contact__fieldset
  legend.form-contact__legend Контактная информация
  .form-contact__content
    .form-contact__row
      label.form-contact__label(for="input-phone") Номер телефона
      .form-contact__input-wrap
        input.form-contact__input(id="input-phone" type="tel" placeholder="Номер, пожалуйста")
        span.form-contact__input-icon
          <svg viewbox="0 0 20 20">
            <use xlink:href="assets/img/symbols.svg#icon-phone"/>
          </svg>
    .form-contact__row
      label.form-contact__label(for="input-mail") адресок почты
      .form-contact__input-wrap
        input.form-contact__input(id="input-mail" type="email" placeholder="Введите почту *")
        span.form-contact__input-icon
          <svg viewbox="0 0 18 14">
            <use xlink:href="assets/img/symbols.svg#icon-mail"/>
          </svg>

