fieldset.form-checkbox__fieldset
  legend.form-checkbox__legend Ваши безбашенные достижения в путешествии
  .form-checkbox__content
    .form-checkbox__row
      input.form-checkbox__checkbox(type="checkbox" id="input-shark" checked)
      label.form-checkbox__label(for="input-shark") Сделал селфи с акулой
    .form-checkbox__row
      input.form-checkbox__checkbox(type="checkbox" id="input-beach" checked)
      label.form-checkbox__label(for="input-beach") Обгорел на пляже
    .form-checkbox__row
      input.form-checkbox__checkbox(type="checkbox" id="input-norris")
      label.form-checkbox__label(for="input-norris") Видел Чака Норриса
    .form-checkbox__row
      input.form-checkbox__checkbox(type="checkbox" id="input-presents")
      label.form-checkbox__label(for="input-presents") Накупил сувениров
    .form-checkbox__row
      input.form-checkbox__checkbox(type="checkbox" id="input-tower" checked)
      label.form-checkbox__label(for="input-tower") Удержал башню
    .form-checkbox__row
      input.form-checkbox__checkbox(type="checkbox" id="input-destroy")
      label.form-checkbox__label(for="input-destroy") Разгромил отель
