section.contact
  .contact__inner
    h4.contact__title Остались вопросы? Свяжитесь с нами!
    ul.contact__list
      li.contact__item
        h5.contact__item-title Звоните:
        p.contact__item-text +7 (812) 555-66-66
      li.contact__item
        h5.contact__item-title Пишите:
        p.contact__item-text mail@htmlacademy.ru
      li.contact__item
        h5.contact__item-title Приезжайте в гости:
        p.contact__item-text ул. Большая Конюшенная, 19/8
