section.effect
  .effect__inner
    .effect__content
      h3.effect__title Эффект<br> на 24 часа!
      p.effect__text Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
      a.effect__link(href="#") Узнать больше об исследовании
