section.feedback
  .feedback__title-wrap
    h4.feedback__title Николай Петров
    p.feedback__subtitle 25 лет, водитель трамвая
  p.feedback__text «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
