footer.footer
  .footer__logo-wrap
    img.footer__logo(src="/img/logo-pink-blue-mobile.svg")
  .footer__icon-list
    a.footer__icon-link.footer__icon-link--tw(href="#")
    a.footer__icon-link.footer__icon-link--fb(href="#")
    a.footer__icon-link.footer__icon-link--yt(href="#")
  p.footer__copy-wrap
    span.footer__copy Разработано
