footer.footer
  .footer__inner
    .footer__logo-wrap
      .footer__logo
        a(href="/")
          <svg class="footer__logo-tablet" viewbox="0 0 147 40">
            <use xlink:href="img/symbols.svg#logo-pink-blue-mobile"/>
          </svg>
          <svg class="footer__logo-desktop" viewbox="0 0 147 40">
            <use xlink:href="img/symbols.svg#logo-pink-blue-desktop"/>
          </svg>
    .footer__icon-list
      a.footer__icon-link.footer__icon-link--tw(href="#")
      a.footer__icon-link.footer__icon-link--fb(href="#")
      a.footer__icon-link.footer__icon-link--yt(href="#")
    a.footer__copy-wrap(href="/")
      span.footer__copy Разработано
        span.footer__copy-logo
          <svg viewbox="0 0 27 34">
            <use xlink:href="img/symbols.svg#logo-htmlacademy"/>
          </svg>
