.form-fio
  .form-fio__row
    label.form-fio__label(for="input-last-name") Фамилия:
    input.form-fio__input(id="input-last-name" type="text" placeholder="Укажите фамилию *")
  .form-fio__row
    label.form-fio__label(for="input-first-name") Имя:
    input.form-fio__input(id="input-first-name" type="text" placeholder="Введите ваше имя *")
  .form-fio__row
    label.form-fio__label(for="input-second-name") Отчество:
    input.form-fio__input(id="input-second-name" type="text" placeholder="Ну и отчество тоже")
