.form-submit
  .form-submit__btn-wrap
    button.button-secondary.button-secondary--full-width(type="submit") Отправить форму
  .form-submit__tooltip
    span.form-submit__star *
    |  — обязательные
    span.form-submit__hidden  для заполнения
    |  поля
