.form__title-wrap
  h2.form__title Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!
    span.form__title-hidden  Пожалуйста, заполните форму ниже:

form(action="/").form
  .form__inner

    .form__element.form__element--fio
      include /blocks/form-fio

    .form__element.form__element--checkbox
      include /blocks/form-checkbox

    .form__element.form__element--contact
      include /blocks/form-contact

    .form__element.form__element--radio
      include /blocks/form-radio

    .form__element.form__element--area
      include /blocks/form-area

    .form__element.form__element--submit
      include /blocks/form-submit
