fieldset.form-contact__fieldset
  legend.form-contact__legend(align="center") Контактная информация
  .form-contact__content
    .form-contact__row
      label.form-contact__label(for="input-phone") Номер телефона
      .form-contact__input-wrap.form-contact__input-wrap--tel
        input.form-contact__input(id="input-phone" type="text" placeholder="Номер, пожалуйста")
    .form-contact__row
      label.form-contact__label(for="input-mail") адресок почты
      .form-contact__input-wrap.form-contact__input-wrap--email
        input.form-contact__input(id="input-mail" type="text" placeholder="Введите почту *")
