fieldset.form-radio__fieldset
  legend.form-radio__legend(align="center") С каким приложением путешествовали?
  .form-radio__content
    .form-radio__row
      input.form-radio__radio(id="radio-ios" type="radio" name="radio-applications" checked)
      label.form-radio__label(for="radio-ios") Pink для iOS
    .form-radio__row
      input.form-radio__radio(id="radio-android" type="radio" name="radio-applications")
      label.form-radio__label(for="radio-android") Pink на Android
    .form-radio__row
      input.form-radio__radio(id="radio-wp" type="radio" name="radio-applications")
      label.form-radio__label(for="radio-wp") Windows Phone
