fieldset.form-area__fieldset
  legend.form-area__legend Опишите свои эмоции
  .form-area__content
    .form-area__textarea-wrap
      textarea.form-area__textarea Можно прям в красках, не стесняясь в выражениях
