header.header
  .header__inner
    .header__head
      .header__logo-wrap
        img.header__logo(src="img/logo-pink-white-mobile.svg")
      .header__burger-wrap
        .header__burger
          span.header__burger-item
          span.header__burger-item
          span.header__burger-item
    nav.header__menu
      ul.header__menu-list
        li.header__menu-item
          a.header__menu-link(href="/") Главная
        li.header__menu-item
          a.header__menu-link(href="/photo.html") Фотографии
        li.header__menu-item
          a.header__menu-link(href="/form.html") Конкурс
        li.header__menu-item
          a.header__menu-link(href="#") HTML Academy
