header.header
  .header__head
    .header__logo-wrap
      a(href="/")
        picture
          source(media="(min-width: 1020px)" srcset="img/logo-pink-white-desktop.svg")
          source(media="(min-width: 700px)" srcset="img/logo-pink-white-tablet.svg")
          img.header__logo(src="img/logo-pink-white-mobile.svg")
    .header__burger-wrap
      .header__burger
        span.header__burger-item
        span.header__burger-item
        span.header__burger-item
    nav.header__menu
      a.header__menu-link(href="/")
        span.header__menu-text Главная
      a.header__menu-link.header__menu-link--active(href="/photo.html")
        span.header__menu-text Фотографии
      a.header__menu-link(href="/form.html")
        span.header__menu-text Конкурс
      a.header__menu-link(href="#")
        span.header__menu-text HTML Academy
