header.header
  .header__head
    .header__logo-wrap
      img.header__logo(src="img/logo-pink-white-mobile.svg")
    .header__burger-wrap
      .header__burger
        span.header__burger-item
        span.header__burger-item
        span.header__burger-item
    nav.header__menu
      a.header__menu-link(href="/") Главная
      a.header__menu-link(href="/photo.html") Фотографии
      a.header__menu-link(href="/form.html") Конкурс
      a.header__menu-link(href="#") HTML Academy
