section.main-slide
  .main-slide__content
  .main-slide__app
    .main-slide__app-btn-wrap
      a.button-primary(href="#")
        span.button-primary__text Скачать приложение
    ul.main-slide__icon-list
      li.main-slide__icon-item
        img.main-slide__icon-img(src="img/logo-apple.svg")
      li.main-slide__icon-item
        img.main-slide__icon-img(src="img/logo-android.svg")
      li.main-slide__icon-item
        img.main-slide__icon-img(src="img/logo-microsoft.svg")
    p.main-slide__text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
