.main-slide
  .main-slide__inner
    .main-slide__app
      h1.main-slide__title Взгляните на жизнь иначе!
      .main-slide__app-btn-wrap
        a.button-primary(href="#")
          span.button-primary__text Скачать приложение
      ul.main-slide__icon-list
        li.main-slide__icon-item
          a(href="/")
            img.main-slide__icon-img(src="img/logo-apple.svg" alt="Логотип Apple")
        li.main-slide__icon-item
          a(href="/")
            img.main-slide__icon-img(src="img/logo-android.svg" alt="Логотип Android")
        li.main-slide__icon-item
          a(href="/")
            img.main-slide__icon-img(src="img/logo-microsoft.svg" alt="Логотип Microsoft")
      p.main-slide__text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
