mixin applications(item)
  li.main-slide__icon-item
    a(href=item.href)
      img.main-slide__icon-img(src=item.src alt=item.alt)

.main-slide
  .main-slide__inner
    .main-slide__app
      h1.main-slide__title Взгляните на жизнь иначе!
      .main-slide__app-btn-wrap
        a.button-primary(href="#")
          span.button-primary__text Скачать приложение
      ul.main-slide__icon-list
        for item in data.applications
          +applications(item)
      p.main-slide__text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8


