.photo-editor
  form(action="/")
    .photo-editor__title-wrap
      p.photo-editor__title Затмите их всех!
      p.photo-editor__title Выкладывайте все, что накопилось в телефоне!
    .photo-editor__inner
      .photo-editor__img-wrap
        picture
          source(media="(min-width: 1020px)" srcset="img/photo-7-desktop@1x.jpg 1x, img/photo-7-desktop@2x.jpg 2x")
          source(media="(min-width: 700px)" srcset="img/photo-7-tablet@1x.jpg 1x, img/photo-7-tablet@2x.jpg 2x")
          img.photo-card__img(src="img/photo-7-mobile@1x.jpg" srcset="img/photo-7-mobile@1x.jpg 1x, img/photo-7-mobile@2x.jpg 2x" width="280" height="180")
      .photo-editor__controls
        .photo-editor__tools-wrap
          ul.photo-editor__tools-list
            li.photo-editor__tools-item
              button.photo-editor__tools-btn.photo-editor__tools-btn--active(type="button")
                <svg class="photo-editor__tools-btn-icon photo-editor__tools-btn-icon--crop" viewbox="0 0 50 50">
                  <use xlink:href="img/symbols.svg#icon-editor-crop"/>
                </svg>
              .photo-editor__tools-range-bar
                include /blocks/range-bar
            li.photo-editor__tools-item
              button.photo-editor__tools-btn(type="button")
                <svg class="photo-editor__tools-btn-icon photo-editor__tools-btn-icon--fill" viewbox="0 0 50 50">
                  <use xlink:href="img/symbols.svg#icon-editor-fill"/>
                </svg>
              .photo-editor__tools-range-bar
                include /blocks/range-bar
            li.photo-editor__tools-item
              button.photo-editor__tools-btn(type="button")
                <svg class="photo-editor__tools-btn-icon photo-editor__tools-btn-icon--contrast" viewbox="0 0 50 50">
                  <use xlink:href="img/symbols.svg#icon-editor-contrast"/>
                </svg>
              .photo-editor__tools-range-bar
                include /blocks/range-bar
          .photo-editor__range-bar-wrap
            include /blocks/range-bar
        .photo-editor__buttons-inner
          .photo-editor__buttons-wrap
            .photo-editor__btn-wrap
              button.button-ternary.button-ternary--full-width(type="submit") Запостить
            .photo-editor__btn-wrap
              button.button-cancel.button-cancel--full-width(type="reset") Отмена
