section.photo-editor
  .photo-editor__inner
    .photo-editor__img-wrap
      img.photo-editor__img(src="img/photo-7-mobile@1x.jpg")
    .photo-editor__tools-wrap
      ul.photo-editor__tools-list
        li.photo-editor__tools-item.photo-editor__tools-item--crop
        li.photo-editor__tools-item.photo-editor__tools-item--fill
        li.photo-editor__tools-item.photo-editor__tools-item--contrast
      .photo-editor__range-bar
        .photo-editor__range-dot.photo-editor__range-dot--position
      .photo-editor__buttons-wrap
        .photo-editor__btn-wrap
          button.button-ternary.button-ternary--full-width(type="button") Запостить
        .photo-editor__btn-wrap
          button.button-ternary.button-ternary--full-width(type="button" disabled) Отмена
