section.photo-editor
  .photo-editor__inner
    .photo-editor__img-wrap
      img.photo-editor__img(src="img/photo-7-mobile@1x.jpg")
    .photo-editor__controls
      .photo-editor__tools-wrap
        ul.photo-editor__tools-list
          li.photo-editor__tools-item
            button.photo-editor__tools-btn.photo-editor__tools-btn--crop(type="button")
            .photo-editor__tools-range-bar
              include /blocks/range-bar
          li.photo-editor__tools-item
            button.photo-editor__tools-btn.photo-editor__tools-btn--fill(type="button")
            .photo-editor__tools-range-bar
              include /blocks/range-bar
          li.photo-editor__tools-item
            button.photo-editor__tools-btn.photo-editor__tools-btn--contrast(type="button")
            .photo-editor__tools-range-bar
              include /blocks/range-bar
        .photo-editor__range-bar-wrap
          include /blocks/range-bar
      .photo-editor__buttons-inner
        .photo-editor__buttons-wrap
          .photo-editor__btn-wrap
            button.button-ternary.button-ternary--full-width(type="button") Запостить
          .photo-editor__btn-wrap
            button.button-ternary.button-ternary--full-width(type="button" disabled) Отмена
