.tariff
  <svg class="tariff__corner">
    <use xlink:href="img/symbols.svg#bg-triangle-white"/>
  </svg>
  .tariff__inner
    .tariff__carusel
      .tariff__table-wrap
        .tariff__table
          .tariff__row
            .tariff__thead.tariff__thead--empty &nbsp;
            .tariff__thead
              span.tariff__thead-title База
              span.tariff__thead-cost 3,99 USD
            .tariff__thead.tariff__thead--new
              span.tariff__thead-title Стандарт
              span.tariff__thead-cost 3,99 USD
            .tariff__thead
              span.tariff__thead-title Анлим
              span.tariff__thead-cost 3,99 USD
          .tariff__row
            .tariff__cell
              span.tariff__text Розовый фильтр
            .tariff__cell
              span.tariff__text-mobile Розовый фильтр
              <svg class="tariff__cell-svg tariff__cell-svg--yes" viewbox="0 0 27 27">
                <use xlink:href="img/symbols.svg#icon-yes"/>
              </svg>
            .tariff__cell
              span.tariff__text-mobile Розовый фильтр
              <svg class="tariff__cell-svg tariff__cell-svg--yes" viewbox="0 0 27 27">
                <use xlink:href="img/symbols.svg#icon-yes"/>
              </svg>
            .tariff__cell
              span.tariff__text-mobile Розовый фильтр
              <svg class="tariff__cell-svg tariff__cell-svg--yes" viewbox="0 0 27 27">
                <use xlink:href="img/symbols.svg#icon-yes"/>
              </svg>
          .tariff__row
            .tariff__cell
              span.tariff__text Смайлики
            .tariff__cell
              span.tariff__text-mobile Смайлики
              <svg class="tariff__cell-svg tariff__cell-svg--no" viewbox="0 0 27 27">
                <use xlink:href="img/symbols.svg#icon-no"/>
              </svg>
            .tariff__cell
              span.tariff__text-mobile Смайлики
              <svg class="tariff__cell-svg tariff__cell-svg--yes" viewbox="0 0 27 27">
                <use xlink:href="img/symbols.svg#icon-yes"/>
              </svg>
            .tariff__cell
              span.tariff__text-mobile Смайлики
              <svg class="tariff__cell-svg tariff__cell-svg--yes" viewbox="0 0 27 27">
                <use xlink:href="img/symbols.svg#icon-yes"/>
              </svg>
          .tariff__row
            .tariff__cell
              span.tariff__text Комментарии
            .tariff__cell
              span.tariff__text-mobile Комментарии
              <svg class="tariff__cell-svg tariff__cell-svg--no" viewbox="0 0 27 27">
                <use xlink:href="img/symbols.svg#icon-no"/>
              </svg>
            .tariff__cell
              span.tariff__text-mobile Комментарии
              <svg class="tariff__cell-svg tariff__cell-svg--no" viewbox="0 0 27 27">
                <use xlink:href="img/symbols.svg#icon-no"/>
              </svg>
            .tariff__cell
              span.tariff__text-mobile Комментарии
              <svg class="tariff__cell-svg tariff__cell-svg--yes" viewbox="0 0 27 27">
                <use xlink:href="img/symbols.svg#icon-yes"/>
              </svg>

    .tariff__dots-wrap
      include /blocks/slider-dots
