section.tariff
  <svg class="tariff__corner">
    <use xlink:href="symbols.svg#bg-triangle-white"/>
  </svg>
  .tariff__inner
    .tariff__carusel
      .tariff__table-wrap
        .tariff__table
          .tariff__row
            .tariff__thead.tariff__thead--empty &nbsp;
            .tariff__thead
              span.tariff__thead-title База
              span.tariff__thead-cost 3,99 USD
            .tariff__thead.tariff__thead--new
              span.tariff__thead-title Стандарт
              span.tariff__thead-cost 3,99 USD
            .tariff__thead
              span.tariff__thead-title Анлим
              span.tariff__thead-cost 3,99 USD
          .tariff__row
            .tariff__cell Розовый фильтр
            .tariff__cell.tariff__cell--yes
            .tariff__cell.tariff__cell--no
            .tariff__cell.tariff__cell--no
          .tariff__row
            .tariff__cell Смайлики
            .tariff__cell.tariff__cell--yes
            .tariff__cell.tariff__cell--yes
            .tariff__cell.tariff__cell--no
          .tariff__row
            .tariff__cell Комментарии
            .tariff__cell.tariff__cell--yes
            .tariff__cell.tariff__cell--yes
            .tariff__cell.tariff__cell--yes

    .tariff__dots-wrap
      include /blocks/slider-dots
