extends /templates/layout-map

block content

  include /blocks/main-slide
  include /blocks/benefits
  include /blocks/effect
  include /blocks/feedback
  include /blocks/tariff
  include /blocks/contact
  include /blocks/map
  .page-index
    include /blocks/footer
