footer.form-footer
  .form-footer__logo-wrap
    img.form-footer__logo(src="http://placehold.it/150x50")
  ul.form-footer__icon-list
    li.form-footer__icon-item.form-footer__icon-item--tw
      a.form-footer__icon-link(href="#")
    li.form-footer__icon-item.form-footer__icon-item--fb
      a.form-footer__icon-link(href="#")
    li.form-footer__icon-item.form-footer__icon-item--yt
      a.form-footer__icon-link(href="#")
  .form-footer__copy-wrap
    p.form-footer__copy Разработано
