extends layout.jade

block content
  section.main-slide
    .main-slide__content
    .main-slide-app
      .main-slide-app__download-btn
      ul.main-slide-app__icon-list
        li.main-slide-app__icon-item
          img.main-slide-app__icon-img(src="http://placehold.it/50x60")
        li.main-slide-app__icon-item
          img.main-slide-app__icon-img(src="http://placehold.it/50x60")
        li.main-slide-app__icon-item
          img.main-slide-app__icon-img(src="http://placehold.it/50x60")
      p.main-slide-app__text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8

  section.benefits
    .benefits__title-wrap
      h2.benefits__title Устали от серости мегаполиса?
      h3.benefits__title Нам есть, что вам предложить!
    ul.benefits__list
      li.benefits__item
        h4.benefits__item-title Поднимает настроение
        p.benefits__item-text Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
      li.benefits__item
        h4.benefits__item-title Меняет мир вокруг
        p.benefits__item-text Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
      li.benefits__item
        h4.benefits__item-title Заводит новых друзей
        p.benefits__item-text Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых

  section.feedback
    h4.feedback__title Николай Петров
    p.feedback__text «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»

  section.tariff
    .tariff__head
      h5.tariff__head-title Стандарт
      p.tariff__head-text 3,99 USD
    ul.tariff__list
      li.tariff__item Розовый фильтр
      li.tariff__item Смайлики
      li.tariff__item Комментарии

  section.contact
    h4.contact__title Остались вопросы? Свяжитесь с нами!
    ul.contact__list
      li.contact__item
        h5.contact__item-title Звоните:
        p.contact__item-text +7 (812) 555-66-66
      li.contact__item
        h5.contact__item-title Пишите:
        p.contact__item-text mail@htmlacademy.ru
      li.contact__item
        h5.contact__item-title Приезжайте в гости:
        p.contact__item-text ул. Большая Конюшенная, 19/8

  section.map
