doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title HTML Academy: Пинк
  body
    header.header
      .header__head
        .header__logo-wrap
          img.header__logo(src="http://placehold.it/57x33")
        .header__burger-wrap
          .header__burger X
      nav.header__menu
        ul.header__menu-list
          li.header__menu-item Главная
          li.header__menu-item Фотографии
          li.header__menu-item Конкурс
          li.header__menu-item HTML Academy

    block content
