.button-secondary {
  display: inline-block;
  padding: 23px 20px;
  border: none;
  border-radius: 5px;
  background-color: $COLOR-GREEN;
  color: #fff;
  font-size: $FONT-SIZE-M;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba($COLOR-SECONDARY, 0.3);
  }

  &[disabled] {
    background-color: #e5e5e5;
    color: #fff;
  }

  &--full-width {
    width: 100%;
  }
}
