@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin content-container {
  max-width: $desktop-width - $mobile-paddings * 2;
  padding-right: $mobile-paddings;
  padding-left: $mobile-paddings;
  margin-right: auto;
  margin-left: auto;

  @include tablet {
    max-width: $desktop-width - $tablet-paddings * 2;
    padding-right: $tablet-paddings;
    padding-left: $tablet-paddings;
  }

  @include desktop {
    padding-right: 0;
    padding-left: 0;
  }
}

@mixin visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
