$COLOR-PRIMARY: #283645;
$COLOR-SECONDARY: #d22856;
$COLOR-BACKGROUND-PRIMARY: #f2f2f2;
$COLOR-GRAY-UNDERLINES: #dddfe0;
$COLOR-GRAY-BORDERS: #e5e5e5;

$FONT-SIZE-S: 14px;
$FONT-SIZE-M: 18px;
$FONT-SIZE-HERO-S: 24px;
$FONT-SIZE-HERO-SM: 40px;
$FONT-SIZE-HERO-M: 50px;

$tablet-width: 700px;
$desktop-width: 1020px;

$mobile-paddings: 20px;
$tablet-paddings: 40px;
