block footer-scripts
  script.
    document.querySelector('.header').classList.remove('active');
  script(src="js/svg4everybody.min.js")
  script(src="js/picturefill.min.js")
  script(src="js/app.js")
  script(src="js/objectFitPolyfill.basic.min.js")
