doctype html
html(lang="ru")
  include /templates/head
  body
    include /blocks/header
    block content
    include /templates/global-footer-scripts
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWqQrvWiS4TthFic060hJB_RBFpejG6uc&callback=initMap")
