doctype html
html(lang="ru")
  include /templates/head
  body
    include /blocks/header
    block content
    script(src="js/svg4everybody.min.js")
    script(src="js/app.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWqQrvWiS4TthFic060hJB_RBFpejG6uc&callback=initMap")
