doctype html
html(lang="ru")
  include /templates/head
  body
    include /blocks/header
    block content
    script(src="js/svg4everybody.min.js")
    script(src="js/app.js")
    noscript
      include /templates/noscript
