style.
  .header__burger {
    display: none;
  }

  .header__menu {
    display: flex;
  }

  @media (max-width: 1019px) {
    .header {
      position: relative;
      background-color: #283645;
      padding-bottom: 0;
    }
  }

  @media (max-width: 1019px) {
    .header .header__menu {
      margin-top: 35px;
    }
  }

  @media (max-width: 699px) {
    .header .header__menu {
      margin-top: 22px;
    }
  }
