.button-secondary {
  padding: 23px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2aab6d;
  color: #fff;
  font-size: $FONT-SIZE-M;
  font-weight: bold;
  text-transform: uppercase;

  &--full-width {
    width: 100%;
  }
}
