.contact {
  padding: 50px 20px 20px;

  @include desktop {
    padding-bottom: 40px;
  }
}

.contact__title {
  margin: 0 0 40px;
  color: $COLOR-PRIMARY;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  @include tablet {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
  }

  @include desktop {
    max-width: 500px;
    margin-bottom: 100px;
    font-size: 50px;
  }
}

.contact__list {
  @include tablet {
    font-size: 0;
    text-align: center;
  }
}

.contact__item {
  margin-bottom: 20px;
  text-align: center;

  @include tablet {
    display: inline-block;
    width: 50%;
    margin-bottom: 50px;
    vertical-align: top;
  }

  @include desktop {
    width: calc(100% / 3);
  }
}

.contact__item-title {
  margin: 0 0 10px;
  font-size: $FONT-SIZE-M;
  font-weight: bold;
}

.contact__item-text {
  margin: 0;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;

  @include tablet {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
  }
}
