.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__logo-wrap {
  margin-bottom: 40px;
}

.footer__logo {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.footer__icon-list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.footer__icon-link {
  position: relative;
  display: block;
  width: 51px;
  height: 51px;
  border: 3px solid $COLOR-PRIMARY;
  border-radius: 50%;
  margin-left: 9px;
  margin-right: 9px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--tw::before {
    background-image: url('../img/icon-twitter.svg');
  }

  &--fb::before {
    background-image: url('../img/icon-facebook.svg');
  }

  &--yt::before {
    background-image: url('../img/icon-youtube.svg');
  }
}

.footer__copy-wrap {
  margin: 0;
  color: $COLOR-PRIMARY;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
}

.footer__copy {
  position: relative;
  padding-right: 40px;

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 0;
    width: 27px;
    height: 34px;
    background: url('../img/logo-htmlacademy.svg') 0 0 no-repeat;
  }
}
