.form-checkbox__fieldset {
  @include form-fieldset;
}

.form-checkbox__legend {
  @include form-legend;
}

.form-checkbox__content {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  @include tablet-invert {
    padding-left: $mobile-paddings;
    padding-right: $mobile-paddings;
  }

  @include tablet {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 45px;
    padding-right: 0;
  }
}

.form-checkbox__row {
  margin-bottom: 40px;

  @include desktop {
    flex-basis: calc(100% / 3);

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

.form-checkbox__checkbox {
  display: none;
}

.form-checkbox__label {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  color: $COLOR-PRIMARY;
  font-size: $FONT-SIZE-M;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    border: 2px solid $COLOR-GRAY-BORDERS;
    background-color: transparent;

    .form-checkbox__checkbox:checked + & {
      background: url('../img/icon-yes.svg') 50% 50%/22px 16px no-repeat;
    }
  }

  &:hover::before {
    border-color: $COLOR-PRIMARY;
  }

  &:active::before {
    border-color: $COLOR-SECONDARY;
  }
}
