.form__fio {
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.form__title {
  margin: 0 0 35px;
  color: $COLOR-PRIMARY;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}

.form__input-row {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  padding-left: 20px;
  margin-bottom: 20px;
  color: $COLOR-SECONDARY;
  text-transform: uppercase;
}

.form__input {
  width: 100%;
  padding: 15px 18px 14px;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  line-height: 30px;
}

.form__achievements {
  padding: 42px 20px 20px;
  background-color: #f2f2f2;
}

.form__achievements-title {
  margin: 0 0 20px;
  color: $COLOR-SECONDARY;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.form__checkbox-row {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__checkbox-checkbox {
  display: none;
}

.form__checkbox-label {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  color: $COLOR-PRIMARY;
  font-size: 18px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    border: 2px solid #e5e5e5;
    background-color: #fff;

    .form__checkbox-checkbox:checked + & {
      background-image: url('../img/icon-yes.svg');
      background-position: 50% 50%;
      background-size: 22px 16px;
      background-repeat: no-repeat;
    }
  }
}

.form__contacts {
  padding: 40px 20px;
}

.form__app {
  padding: 40px 20px;
  background-color: #f2f2f2;
}

.form__app-title {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: $COLOR-SECONDARY;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.form__radio-row {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__radio-checkbox {
  display: none;
}

.form__radio-label {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  color: $COLOR-PRIMARY;
  font-size: 18px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    background-color: #fff;
  }

  .form__radio-checkbox:checked + &::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $COLOR-SECONDARY;
  }
}

.form__feedback {
  padding: 40px 20px 20px;
}

.form__feedback-title {
  margin: 0 0 20px;
  color: $COLOR-SECONDARY;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form__textarea {
  width: 100%;
  min-height: 200px;
  padding: 20px;
  resize: vertical;
}

.form__submit {
  padding: 20px;
}

.form__submit-btn-wrap {
  margin-bottom: 40px;
}

.form__submit-tooltip {
  color: $COLOR-PRIMARY;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form__submit-star {
  color: $COLOR-SECONDARY;
}
