$header-padding-mobile: 22px;
$header-padding-tablet: 35px;

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: $header-padding-mobile;
  padding-bottom: $header-padding-mobile;

  @include tablet {
    padding-top: $header-padding-tablet;
    padding-bottom: $header-padding-tablet;
  }

  &.active {
    @include desktop-invert {
      position: relative;
      background-color: #283645;
      padding-bottom: 0;
    }
  }
}

.header__head {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    @include content-container;
  }
}

.header__logo-wrap {
  margin-left: $mobile-paddings;

  @include tablet {
    position: relative;
    top: -10px;
    margin-left: $tablet-paddings;
  }

  @include desktop {
    margin-left: 0;
    margin-right: 50px;
  }
}

.header__logo {
  width: 75px;
  height: 22px;
  object-fit: contain;
  fill: #fff;
  color: $COLOR-SECONDARY;

  @include tablet {
    width: 147px;
    height: 40px;
  }

  &:hover {
    fill: $COLOR-SECONDARY;
  }

  &:active {
    fill: currentColor;
    color: rgba(white, 0.3);
  }

  &--mobile {
    @include tablet {
      display: none;
    }
  }

  &--tablet {
    @include tablet-invert {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  &--desktop {
    @include desktop-invert {
      display: none;
    }
  }
}

.header__burger-wrap {
  width: 50px;
  height: 24px;
  margin-right: $mobile-paddings;

  @include tablet {
    margin-right: $tablet-paddings;
  }

  @include desktop {
    display: none;
    margin-right: 0;
  }
}

.header__burger {
  width: 50px;
  height: 24px;
  cursor: pointer;
  fill: #fff;

  &:hover {
    fill: $COLOR-SECONDARY;
  }

  &:active {
    fill: rgba($COLOR-SECONDARY, 0.3);
  }
}

.header__burger-burger {
  .header.active & {
    display: none;
  }
}

.header__burger-cross {
  display: none;

  .header.active & {
    display: block;
  }
}

.header__menu {
  flex: 0 1 100%;
  display: none;
  flex-direction: column;
  text-align: center;

  @include desktop {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
  }

  @include desktop {
    flex-direction: row;
    flex-basis: auto;
  }

  .header.active & {
    @include desktop-invert {
      display: flex;
      margin-top: $header-padding-tablet;
    }

    @include tablet-invert {
      margin-top: $header-padding-mobile;
    }
  }
}

.header__menu-link {
  padding-top: 27px;
  padding-bottom: 27px;
  border-top: 1px solid #000;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;

  @include desktop {
    flex: 0 1 175px;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    text-transform: initial;
  }

  &:last-child {
    border-bottom: 1px solid #000;

    @include desktop {
      border: 0;
    }
  }

  &:focus,
  &:hover {
    color: $COLOR-SECONDARY;
  }

  &:active {
    color: rgba($COLOR-SECONDARY, 0.3);

    @include desktop {
      color: rgba(#fff, 0.3);
    }
  }

  &--active {
    span {
      @include desktop {
        border-bottom: 1px solid #fff;
      }
    }

    &:focus span,
    &:hover span {
      border-color: $COLOR-SECONDARY;
    }

    &:active span {
      border-color: rgba(#fff, 0.3);
    }
  }
}
