.header{
  position: absolute;
  width: 100%;
  padding: 22px 20px;
  background-color: rgba(0,0,0,.3);
}

.header__logo-wrap{
  float: left;
  width: 75px;
  height: 22px;
}

.header__burger-wrap{
  float: right;
  width: 50px;
  height: 24px;
}

.header__burger{
  position: relative;
  cursor: pointer;
}

.header__burger-item{
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  margin-bottom: 6px;

  &:last-child{
    margin-bottom: 0;
  }
}

.header__menu{
  display: none;
}
