.main-slide-photo {
  padding-top: 100px;
  padding-bottom: 85px;

  @include retina('../img/bg-back-mobile', 2, jpg);

  background-position: 50% 0;
  background-size: auto 462px;
  background-repeat: no-repeat;

  @include tablet {
    padding-top: 190px;
    padding-bottom: 140px;

    @include retina('../img/bg-back-tablet', 2, jpg);

    background-size: cover;
  }

  @include desktop {
    padding-top: 180px;
    padding-bottom: 105px;

    @include retina('../img/bg-back-desktop', 2, jpg);
  }
}

.main-slide-photo__title {
  max-width: 240px;
  margin: 0 auto;
  color: #fff;
  font-size: $FONT-SIZE-HERO-S;
  font-weight: 300;
  text-align: center;

  @include tablet {
    max-width: 340px;
    font-size: 50px;
  }
}
