$main-slide-bg-height: 462px;
$main-slide-phone-height: 285px;

.main-slide {
  position: relative;
  background: url('../img/bg-back-mobile@1x.jpg') 50% 0/auto $main-slide-bg-height no-repeat, #1d2631;

  @include tablet {
    background-size: cover;
  }
}

.main-slide__inner {
  @include content-container;

  padding-top: $main-slide-bg-height;
  background: url('../img/iphone-hand-mobile@1x.png') 10% ($main-slide-bg-height - $main-slide-phone-height)/auto $main-slide-phone-height no-repeat;

  @include tablet {
    padding-top: 0;
    background: url('../img/iphone-hand-mobile@1x.png') 80% 100%/auto 545px no-repeat;
  }

  @include desktop {
    background-size: 570px auto;
  }
}

.main-slide__app {
  padding-top: 28px;
  padding-bottom: 28px;

  @include tablet {
    max-width: 300px;
    padding-top: 200px;
    padding-bottom: 110px;
  }

  @include desktop {
    padding-bottom: 120px;
  }
}

.main-slide__title {
  display: none;

  @include tablet {
    display: block;
    max-width: 186px;
    margin: 0 auto 40px;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
  }

  @include desktop {
    max-width: 250px;
    margin-bottom: 55px;
    font-size: $FONT-SIZE-HERO-M;
  }
}

.main-slide__app-btn-wrap {
  text-align: center;
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 70px;
  }
}

.main-slide__icon-list {
  font-size: 0;
  text-align: center;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 55px;
  }
}

.main-slide__icon-item {
  display: inline-block;
  margin-right: 18px;
  margin-left: 18px;
}

.main-slide__text {
  margin: 0;
  color: #fff;
  font-size: $FONT-SIZE-S;
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  @include tablet {
    font-size: $FONT-SIZE-M;
  }
}
