.main-slide-form {
  padding-top: 100px;
  padding-bottom: 55px;
  background: url('../img/bg-back-mobile@1x.jpg') 50% 0/auto 462px no-repeat;

  @include tablet {
    padding-top: 180px;
    padding-bottom: 85px;
    background-size: cover;
  }

  @include tablet {
    padding-top: 170px;
    padding-bottom: 105px;
  }
}

.main-slide-form__title {
  max-width: 240px;
  margin: 0 auto;
  color: #fff;
  font-size: $FONT-SIZE-HERO-S;
  font-weight: 300;
  text-align: center;

  @include tablet {
    max-width: 540px;
    font-size: $FONT-SIZE-HERO-M;
  }

  @include desktop {
    max-width: 850px;
  }
}
