.map {
  position: relative;
  height: 200px;

  @include retina('../img/bg-map-mobile', 2, jpg);

  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    height: 380px;

    @include retina('../img/bg-map-tablet', 2, jpg);
  }

  @include desktop {
    @include retina('../img/bg-map-desktop', 2, jpg);
  }
}

.map__corner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 35px;
  fill: #fff;

  @include tablet {
    height: 70px;
  }

  @include desktop {
    height: 105px;
  }
}
