.photo__inner {
  @include content-container;
}

.photo__title-wrap {
  @include center-content(550px);

  padding-top: 45px;
  padding-bottom: 50px;

  @include tablet {
    padding-top: 90px;
    padding-bottom: 80px;
  }

  @include desktop {
    max-width: 600px;
  }
}

.photo__title {
  margin: 0;
  color: $COLOR-PRIMARY;
  font-size: $FONT-SIZE-S;
  font-weight: normal;
  line-height: 30px;
  text-align: center;

  @include tablet {
    font-size: $FONT-SIZE-M;
  }
}

//.photo__panorama-wrap {
//  max-width: 1800px;
//  margin-left: auto;
//  margin-right: auto;
//}

.photo__card-catalog {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
  }
}
