.photo{
  padding: 40px 20px 20px;
}
.photo__title{
  margin: 0 0 20px;
  color: $COLOR-PRIMARY;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}
.photo-card{
  margin-bottom: 20px;
  background-color: #f2f2f2;
}
.photo-card__img-wrap{
  position: relative;
  &--panorama{
    margin-left: -20px;
    margin-right: -20px;

    &:before{
      content: 'ПАНОРАМА ДНЯ';
      position: absolute;
      top: 0;
      right: 20px;
      padding: 12px 20px 13px;
      background-color: $COLOR-SECONDARY;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
.photo-card__content{
  padding: 30px 20px;
}
.photo-card__title{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}
.photo-card__time{
  font-weight: 300;
}
.photo-card__desc{
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 24px;
}
.photo-card__like{
  position: relative;
  padding-left: 30px;
  margin: 0;
  color: $COLOR-SECONDARY;
  font-size: 12px;
  text-transform: uppercase;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 12px;
    background: url('/img/icon-heart.svg') 0 0 no-repeat;
  }
}
.photo__footer-text{
  margin: 0;
  color: $COLOR-PRIMARY;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}
