.slider-dots {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.slider-dots__btn {
  width: 6px;
  height: 6px;
  padding: 0;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  background-color: rgba($COLOR-PRIMARY, 0.3);
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: rgba($COLOR-PRIMARY, 0.6);
  }

  &:active {
    background-color: rgba($COLOR-PRIMARY, 0.1);
  }

  &--active {
    width: 12px;
    height: 12px;
    border: 3px solid $COLOR-PRIMARY;
    background-color: transparent;
  }
}
