.tariff {
  position: relative;
  background-color: #f2f2f2;
}

.tariff__corner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 25px;
  fill: #fff;

  @include tablet {
    height: 55px;
  }

  @include desktop {
    height: 70px;
  }
}

.tariff__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 50px;

  @include tablet {
    @include content-container;
  }

  @include tablet {
    padding-top: 140px;
  }
}

.tariff__carusel {
  @include tablet-invert {
    overflow-x: scroll;
  }
}

.tariff__table-wrap {
  margin-bottom: 40px;

  @include tablet-invert {
    padding-left: 20px;
    padding-right: 20px;
    width: 880px;
  }
}

.tariff__table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tariff__row {
  display: flex;
  flex-direction: row;
}

.tariff__thead {
  flex: 1 1 238px;
  position: relative;
  padding-top: 23px;
  padding-bottom: 21px;
  border: 1px solid $COLOR-GRAY-BORDERS;
  background-color: $COLOR-PRIMARY;
  background-clip: padding-box;
  color: #fff;
  text-align: center;

  &:first-child {
    @include tablet-invert {
      display: none;
    }
  }

  @include tablet {
    padding-top: 12px;
    padding-bottom: 6px;
  }

  @include desktop {
    padding-top: 15px;
    padding-bottom: 25px;
  }

  &--empty {
    border: none;
    background: none;
  }

  &--new {
    background-image: url('../img/bg-hit-tablet.svg');
    background-repeat: no-repeat;
    background-position: 0 0;

    &::before {
      content: 'ХИТ';
      position: absolute;
      top: 12px;
      left: 3px;
      display: block;
      transform: rotate(-45deg);
    }
  }
}

.tariff__thead-title {
  display: inline-block;
  width: 100%;
  font-size: $FONT-SIZE-M;
  font-weight: bold;
  line-height: 30px;
  vertical-align: top;
  text-transform: uppercase;

  @include tablet {
    font-size: $FONT-SIZE-SM;
  }

  @include desktop {
    font-size: $FONT-SIZE-M;
  }
}

.tariff__thead-cost {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  vertical-align: top;

  @include tablet {
    font-size: $FONT-SIZE-M;
  }

  @include tablet {
    font-size: 24px;
  }
}

.tariff__cell {
  display: flex;
  align-items: center;
  flex: 1 1 238px;
  position: relative;
  padding: 24px 23px 26px;
  border: 1px solid $COLOR-GRAY-BORDERS;
  background-color: #fff;
  background-clip: padding-box;
  color: $COLOR-PRIMARY;
  font-size: $FONT-SIZE-S;

  &:first-child {
    @include tablet-invert {
      display: none;
    }
  }

  @include tablet {
    padding: 10px 15px;
  }

  @include desktop {
    padding: 18px 23px;
    font-size: $FONT-SIZE-M;
  }
}

.tariff__text-mobile {
  margin-right: auto;

  @include tablet {
    display: none;
  }
}

.tariff__cell-svg {
  display: block;
  width: 27px;
  height: 27px;

  @include tablet {
    margin-left: auto;
    margin-right: auto;
  }

  &--yes {
    fill: #3dc644;
  }

  &--no {
    fill: #f25b26;
  }
}

.tariff__dots-wrap {
  @include center-content();

  @include tablet {
    display: none;
  }
}
